 #pdfViewer {
     position: fixed;
     top: 2%;
     left: 25%;
     width: 50%;
     height: 96%;
     background-color: white;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     overflow: scroll;
     display: none;
     z-index: 1000;
 }

 #pdfViewer canvas {
     display: block;
     margin: auto;
 }

 .marginRight {
    margin-right: 1% !important;
 }

 .closePdfButton {
     position: fixed;
     top: 4%;
     right: 25%;
     transform: translateX(-50%);
     background-color: #007BFF;
     color: #fff;
     border: none;
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .closePdfButton:hover {
     background-color: #0056b3;
 }

 #openPdfButton {
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 1000;
     padding: 10px;
     background-color: #007BFF;
     color: #ffffff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }