/* .App {
  font-family: sans-serif;
}

.docx-wrapper .section.docx {
  background: white;
  box-shadow: 0 0 0px rgb(0 0 0 / 50%) !important;
  margin-bottom: 30px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content .top-section {
  background-color: lightgrey;
  flex-grow: 1;
  min-height: 0;
  display: flex;
}
.modal-content .top-section .content-section {
  flex-grow: 1;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
}

.modal-content .top-section .content-section .title-section {
  background-color: darkgrey;
  max-height: 38px;
  flex-basis: 10vh;
}

.modal-content .top-section .panel-section-holder {
  flex-basis: 18vw;
  background-color: grey;
  align-items: center;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.modal-content .top-section .panel-section {
  flex-basis: 18vw;
  background-color: grey;
  align-items: center;
  padding: 20px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.modal-content .top-section .panel-section .page-holder {
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 600px;
  height: 800px;
  flex-shrink: 0;
}

.modal-content .bottom-section {
  background-color: darkgrey;
  max-height: 30px;
  flex-basis: 10vh;
}
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
} */

/* .button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
} */

/* .p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

@media (max-width: 1100px) {
  .modal-content .top-section .panel-section {
    flex-basis: 25vw;
  }
}

@media (max-width: 450px) {
  .modal-content .top-section .panel-section {
    display: none;
  }
} */

.marginRight {
  margin-right: 1% !important;
}

.viewerButtons {
  position: fixed;
  top: 4%;
  right: 24.5%;
  transform: translateX(-50%);
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.viewerButtons:hover {
  background-color: #0056b3;
}

#pdfViewerContainer {
  position: fixed;
  top: 2%;
  left: 25%;
  width: 50%;
  height: 96%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 1000;
  overflow-y: scroll;
}